<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="300 seconds">
	<appender name="EMAIL" class="ch.qos.logback.classic.net.SMTPAppender">
		<evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
			<marker>NOTIFY_ADMIN</marker>
		</evaluator>

		<smtpHost>localhost</smtpHost>
		<to>aoki@glytoucan.org</to> <!-- additional destinations are possible -->
		<from>admin@glytoucan.org</from>
		<subject>%logger{20} - %m</subject>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%date %-5level %logger - %message%n</pattern>
		</layout>
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} -:
				%X{username} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="ROLLINGFILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>./logs/application.log</file>
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>./logs/archive/applicationlog-%d{yyyy-MM}.%i.zip
			</fileNamePattern>
			<maxHistory>10</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%X{req.remoteHost} %X{req.requestURI} %n %d{dd-MM-yyyy
				hh:mm:ss}- %-5level %logger{15} -%X{username} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="org.springframework" level="WARN">
		<appender-ref ref="ROLLINGFILE" />
	</logger>
	<logger name="org.springframework.transaction" level="WARN">
		<appender-ref ref="ROLLINGFILE" />
	</logger>

	<!-- in order to debug some marshalling issues, this needs to be TRACE -->
	<logger name="org.springframework.web.servlet.mvc" level="WARN"
		additivity="FALSE">
		<appender-ref ref="ROLLINGFILE" />
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.springframework.security" level="INFO"
		additivity="FALSE">
		<appender-ref ref="ROLLINGFILE" />
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.hibernate" level="WARN" additivity="FALSE">
		<appender-ref ref="ROLLINGFILE" />
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="com.wordnik.swagger" level="WARN" additivity="FALSE">
		<appender-ref ref="ROLLINGFILE" />
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.glycoinfo" level="DEBUG" additivity="FALSE">
		<appender-ref ref="ROLLINGFILE" />
		<appender-ref ref="STDOUT" />
	</logger>
	
	<logger name="org.glycoinfo.search.kcam" level="INFO" additivity="FALSE">
		<appender-ref ref="STDOUT" />
	</logger>

	<root level="DEBUG">
		<appender-ref ref="ROLLINGFILE" />
		<appender-ref ref="STDOUT" />
	</root>

</configuration>

<!-- <?xml version="1.0" encoding="UTF-8"?> -->
<!-- <configuration scan="true" scanPeriod="300 seconds"> -->
<!-- <property resource="logback.properties" /> -->

<!-- <if condition='property("environment").equals("prod")'> -->
<!-- <then> -->
<!-- <include file="${logRoot}/logback-prod.xml" /> -->
<!-- </then> -->
<!-- </if> -->
<!-- <if condition='property("environment").equals("dev")'> -->
<!-- <then> -->
<!-- <include resource="logback-dev.xml" /> -->
<!-- </then> -->
<!-- </if> -->
<!-- </configuration> -->